<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.wechat.register.mapper.RegisterMapper">

    <insert id="insertRegister">
        INSERT INTO `sx_register`
        (
        <trim suffixOverrides=",">
            <if test="codeCard!=null">
                `codeCard`,
            </if>
            <if test="name!=null">
                `name`,
            </if>
            <if test="contacts!=null">
                `contacts`,
            </if>
            <if test="phone!=null">
                `phone`,
            </if>
            <if test="qualifications!=null">
                `qualifications`,
            </if>
            <if test="openid!=null">
                `openid`,
            </if>
            <if test="appid!=null">
                `appid`,
            </if>
            <if test="registerType!=null">
                `registerType`,
            </if>
            <if test="memberCreateTime!=null">
                `memberCreateTime`,
            </if>
            <if test="registerCreateTime!=null">
                `registerCreateTime`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="codeCard!=null">
                #{codeCard},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="contacts!=null">
                #{contacts},
            </if>
            <if test="phone!=null">
                #{phone},
            </if>
            <if test="qualifications!=null">
                #{qualifications},
            </if>
            <if test="openid!=null">
                #{openid},
            </if>
            <if test="appid!=null">
                #{appid},
            </if>
            <if test="registerType!=null">
                #{registerType},
            </if>
            <if test="memberCreateTime!=null">
                #{memberCreateTime},
            </if>
            <if test="registerCreateTime!=null">
                #{registerCreateTime},
            </if>
        </trim>
        )
    </insert>


    <select id="selectRegister" resultType="com.asset.wechat.register.entity.SxRegister">
        SELECT codeCard,name,contacts,phone,registerType,
               isNoCancellation,memberCreateTime,registerCreateTime
        FROM sx_register WHERE openid=#{openid}
    </select>
</mapper>